
 <button
 type="button"
 class="btn btn-monty btn-monty-icon-link color-complementario-1 mr-3"
 (click)="downloadPrecios()">
 <img
   class="btn-monty-icon"
   src="assets/SVG_ACTIVIDAD/SK-IMG0109_descargar_azul.svg" />
 <span>
   {{ 'Descargar precios'  }}
 </span>
</button>
<!-- Table to export PDF -->
<div class="hide-print-container">
  <div class="print-container" id="print-container-precios-id">
    <div class="water-mark">Monty Global Payments</div>
    <div class="head">
      <img class="logo" [src]="'SK-IMG0096' | image" />
    </div>
  </div>
</div>
